/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@700&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f1ea;
  color: #2c2c2c;
}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}